@font-face {
    font-family: "IRANSans";
    src: local('IRANSans'), url('./Font/IRANSansWeb.woff') format('woff') ;
}

* {
    font-family: IRANSans, serif;
}

.modal-65w{
    max-width: 65% !important;
}

.custom-card{
    box-shadow: 0 8px 24px rgb(18 25 33 / 4%), 0 2px 8px rgb(18 25 33 / 8%);
    border-radius: 30px !important;
}

.btn-custom{
    width: 90% !important;
    background-color: #410430 !important;
    border: 0 !important;
    border-radius: 8px !important;
}

.btn-custom:hover{
    opacity: 0.8;
}

.btn-day{
    box-shadow: 0 8px 24px rgb(18 25 33 / 4%), 0 2px 8px rgb(18 25 33 / 8%);
    width: 90px !important;
    color: #013904 !important;
}

.btn-day.active{
    background-color: #013904 !important;
    color: white !important;
}

.btn-day.active > p{
    visibility: visible !important;
}

.btn-time{
}

.btn-done{
    background-color: #410430 !important;
    border: 0 !important;
}

.btn-done:hover{
    opacity: 0.8;
}

